body {
    font-weight: 100;
}

.header {
    background: #203041;
}

.header .col-md-12 {
    padding: 0;
}

.header h1 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px 0;
    font-weight: 100;
}

.jumbotron {
    padding: 30px 0;
}

.jumbotron h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
}

h2 {
    font-size: 22px;
    font-weight: 100;
}

h3 {
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    color: #000;
}

.stage {
    margin-bottom: 150px;
}

.btn {
    color: #fff;
    font-weight: 100;
    font-size: 22px;
    margin: 0 auto;
    display: block;
}

ul {
    list-style: none;
    overflow: auto;
    margin: 50px auto;
    max-width: 375px;
    padding: 0;;
}

li {
    float: left;
    font-size: 45px;
    background: #f1f1f1;
    max-width: 120px;
    padding: 25px 50px;
    text-align: center;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2px;
    margin-top: 2px;
    height: 114px;
    min-width: 120px;;;
}

li:hover {
    transition: background .5s;

    background: #fdfdfd;
}

button:hover {
    transition: background .5s;
}

footer {
    background-color: #203041;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    color: #526d8a;
    font-size: 18px;
    margin: 0;
}
